/* CSS RESET */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}

body {font:13px/1.231 arial,helvetica,clean,sans-serif;}table{font-size:inherit;font-size:100%;}pre,code,kbd,samp,tt{font-family:monospace;line-height:100%;}
/* CSS RESET */


body {
	text-align:center;
	color:#000;
}
a {
	text-decoration:none;
	color:#9b3535; 
}

#wrap {
	width:900px;
	text-align:left;
	margin:0 auto;
background:url(images/bg.jpg); 
}

.fl{ float:right}
.fr{ 
width:700px;
float:left;

}
.clearfix{ clear:both}


/* header */
#header { position:relative;height:111px;  background:url(images/hd.jpg);  }
.hd_img {
	float:center;
	
}

#logo {position:absolute; top:30px; left:80px}
#logo h1 {
	font-size:34px;
	color: #9B3535
}
#logo div {
	padding-left:100px
}
#nav 
{ position:absolute; 
top:35px; left:425px; 
font-size:14px;
background:url(images/nav.jpg); 
width:451px;
height:40px; 
padding:0 0 0 0 }

/* content */

#content
{
margin:20px 60px 20px 60px;
padding:0 10px 0 10px;		
}

.img { margin:0px 0  0 70px }
.main {width:560px; background:url(images/box.jpg); color:#000;}
#text {width:560px;margin:0 0 0 0 }
#text h2 {
font-size:20px; 
padding:0 0 0 0;
margin:0 0 10px 0;
border-bottom:2px solid #ed8a8b;
}
#text h3 {
font-size:16px; 
padding:0 0 0 0;
margin:0 0 10px 0;
color:#892e2f;
}

#text h4 {
font-size:14px; 
padding:0 0 0 0;
margin:0 0 10px 0;
}
#text strong{
font-weight: bold;
}
#text img {margin:10px 0 0 0}
.loged {
	float:right;
	margin:0 0 0 0;
	color:#9b3535;
}
.loged a:hover {
	text-decoration:underline;
}
#col {margin:30px 0  10px 65px ;width:300px; background:url(images/col.jpg); width: 419px; height:161px ; }

#col div {width: 150px; margin: 20px 0 0  10px; display:inline}
#col .first  {margin: 20px 30px 0 20px;}
#col li{line-height:20px; list-style:inside disc;color:#9b3535;}
#col a { color:#9b3535; text-decoration:underline;}
.list {
	margin:0 0 0 0;
	color:#9b3535;
	font-weight:bold
}
.list a:hover {
	text-decoration:none;
	color:#9b3535;
}
.side { width:170px;display: inline;margin:0px 20px 0px 0px}
.side h2 {font-size:22px}
.side li {background-color:#fdf7f7;
	margin:0 0 5px 0;
	padding:8px 8px 8px 8px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	 -webkit-box-shadow: 1px 1px 3px #292929;  
	 -moz-box-shadow: 1px 1px 3px #292929;  
	 box-shadow: 1px 1px 3px #292929; }
.side li:hover{background-color:#FFCB2D;}
.side ul {margin:20px  0 30px 60px}



#top {margin-top:20px}
/* footer */
#footer { background:url(images/ft.jpg); height:100px; position:relative}
#ftinner{ position:absolute; bottom:20px; width:680px; margin-left:80px; color:#E98383}
#ftinner a {color:#FFFFFF}
.ftlink {width:500px;}
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0px;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
	padding:		0px 0px 0px 0px;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			12em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			2.15em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			12em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			12em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
	margin-bottom:	1em;
}
.sf-menu a {
	padding: 		.58em 1.2em;
	
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:#fff;
	text-decoration:none;
}
.sf-menu li {
	background:none;
	
}
.sf-menu li li {
	background: url(images/subnav1bg.png);
	width:130px
}
.sf-menu li li li {
	background: url(images/subnav1bg.png);
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	color:#fff;
	background:		#892e2f;
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url(images/arrows-ffffff.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url(images/shadow.png) no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}



/* =Table
------------------------------------------------------------------------------------------------*/
table{
	font-size:90%;
}

table th{
	text-transform:uppercase;
	font-weight:bold;
	background:#ed8a8b;
	color:#fff;
}

table td, table th {
	text-align:left;
	padding:4px 10px 4px 10px;
}

.zebra {
	background:#fdf3f3;
}

/* =Form
------------------------------------------------------------------------------------------------*/

form{
	padding:10px;
}

p label{
	display:block;
	float:left;
	margin-right:5px;
	margin-top:5px;
	text-align:right;
	width:100px;
}

form p{
	margin-bottom:10px;
}


#btn{
	padding:0 4px;
	margin-left:150px;
}

#btn .submit{
	padding:0px 0px 3px 0px;
	border:#666 solid 1px;
	margin-left:10px;
	min-height:25px;
	min-width:70px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
}

.submit:hover{
	border:#666 solid 1px;
	background:#fbe104;
	text-decoration:none;
	cursor: pointer;
}


.form_field{
	height:20px;
	border:#666 solid 1px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 4px 4px 0px 4px;
}


.form_field:focus{
	background-color:#fdf3f3;
	border:#892e2f solid 1px;
}

.form_field_area{
	height:150px;
	width:400px;
	border:#666 solid 1px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 4px 4px 0px 4px;
}

.form_field_area:focus{
	background-color:#fdf3f3;
	border:#892e2f solid 1px;
}

p.message{
	color:#900;
	font-weight:bold;
	margin-bottom:10px;
	background-color:#6F6;
	padding:5px;
	border:1px solid #090;
}

.field_error{
	clear:both;
	color:#F00;
	margin-left:150px;
}

fieldset{
	border:1px solid;
	padding-left:10px;
	margin-bottom:10px;
}

/* =Link
------------------------------------------------------------------------------------------------*/
.action{
	width:120px;
}
a.add, 
a.update, 
a.delete,
a.back,
a.next,
a.excel,
a.aktif,
a.nonaktif{
	font-size: 9pt;
	color:#900;
	font-weight:bold;
	padding-left:20px;
	text-decoration: none;
}

a.add:hover,
a.update:hover,
a.delete:hover,
a.back:hover,
a.next:hover,
a.excel:hover,
a.aktif:hover
a.nonaktif:hover{
	color:#FFCB2D;
}

a.add {
	background:url(images/2.png) left center no-repeat;
}
a.update {
	background:url(images/12.png) left center no-repeat;
}
a.delete {
	background:url(images/7.png) left center no-repeat;
}
a.next {
	background:url(images/9.png) left center no-repeat;
}
a.back {
	background:url(images/10.png) left center no-repeat;
}
a.excel {
	background:url(images/13.png) left center no-repeat;
}
a.aktif {
	background:url(images/8.png) left center no-repeat;
}
a.nonaktif {
	background:url(images/1.png) left center no-repeat;
}

p#bottom_link{
	margin-top:10px;
}

/* =Pagination
------------------------------------------------------------------------------------------------*/
#pagination{
	margin-bottom:10px;
	margin-top:10px;
	color:#900;
}

#pagination a{
	text-decoration:none;
}

#pagination a:hover{
	color:#900;
	font-weight:bold;
}

p strong {
	font-weight:bold;
}

/* =Misc
------------------------------------------------------------------------------------------------*/
h2{
	padding-bottom:0.5em;
	border-bottom:1px solid #ed8a8b;
	font-size:1.5em;
	font-weight:bold;
	margin-bottom:10px;
}

p.message{
	color:#900;
	font-weight:bold;
	background-color:#6F6;
	padding:5px;
	border:1px solid #090;
}